form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"], input[type="email"],input[type="number"],input[type="radio"] ,select{
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    opacity: 85%;
  }
   
  button {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  